
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="static/fujtsu.js"></script>

<style>

.hide{

display: none;

}

</style>
 
 <div class="form-group">
        <div class="container"> 
                <div class="form-group">
                       <!-- <form action="/" method="post">
                            {% csrf_token %}
                   <label for="sel1">Select list:</label>
                   <select class="form-control" name"table" id="sel1" onchange="myFunction()">
                       
                     <option>none</option>  
                     {% for i in obj %}
                     <option>{{i.name}}</option>
                       {% endfor %}
                   </select>
                 </div>

                 <div class="hide" id="hide"> 
                 <label for="short">Short Description:</label>
                 <textarea class="form-control" rows="2" id="short" name="short" ></textarea>
                
    <label for="comment">Description:</label>
    <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
    <br>
    <button type="submit" class="btn btn-danger">Submit</button>
  </div>
</form> -->

<form action="/created/" method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <input type="submit" value="Submit">
</form>

</div>
</div>


